In [8]:
import numpy as np #matrix manipulation (matricies = multidimentional arrays)
import matplotlib.pyplot as plt #graph visualization
import sklearn #ML
import pandas as pd #data analysis - I prefer numpy, but it can be useful

# Data Preprocessing
Get data from excel, assign arrays, etc

In [9]:
#gather from excel
data_pandas = pd.read_csv('Plane_Crashes.csv')

labels = np.array(["Date", "Time", "Location", "Flight Number", 
                   "Route", "Registration", "Aboard", 
                   "Fatalities", "Ground", "Summary"])
data_pandas

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,Aboard,Fatalities,Ground,Summary,N/A
0,9/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly...",NaN
1,7/12/1912,6:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...,NaN
2,8/6/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...,NaN
3,9/9/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...,NaN
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5263,5/20/2009,6:30,"Near Madiun, Indonesia",Military - Indonesian Air Force,NaN,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,112.0,98.0,2.0,"While on approach, the military transport cras...",NaN
5264,5/26/2009,NaN,"Near Isiro, DemocratiRepubliCongo",Service Air,NaN,Goma - Isiro,Antonov An-26,9Q-CSA,4.0,4.0,NaN,The cargo plane crashed while on approach to I...,NaN
5265,6/1/2009,0:15,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,447,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...,NaN
5266,6/7/2009,8:30,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,NaN,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,1.0,1.0,0.0,The air ambulance crashed into hills while att...,NaN
5267,6/8/2009,NaN,"State of Arunachal Pradesh, India",Military - Indian Air Force,NaN,Mechuka for Jorhat,Antonov An-32,NaN,13.0,13.0,0.0,The military transport went missing while en r...,NaN

In [2]:
#convert to numpy for easier manipulation
data = data_pandas.to_numpy()[:,:-1] #remove random last column
data.shape

NameError: name 'data_pandas' is not defined

In [3]:
#Assign data to rows

full_dates = data[:, 0]
months = np.zeros(data.shape[0], dtype = 'int')
days = np.zeros(data.shape[0], dtype = 'int')
years = np.zeros(data.shape[0], dtype = 'int')
for m in range(data.shape[0]):
    ind = full_dates[m].split('/')
    months[m] = ind[0]
    days[m] = ind[1]
    years[m] = ind[2]
  

times = data[:, 1]
locations = data[:, 2]
operator = data[:,3]
flight_num = data[:, 4]
route = data[:,5]
plane_type = data[:,6]
#skip registration
aboard = data[:,8]
fatalities = data[:,9]
grounds = data[:, 10]
summaries = data[:,11]

NameError: name 'data' is not defined

# Exploratory Data Analysis 
Basic stats tests and visualization

In [4]:
#Crashes per year, month, and date
plt.figure(figsize=(12,6))
plt.plot(np.unique(years), np.bincount(years))
plt.xlabel('Year', fontsize=10)
plt.ylabel('Count', fontsize=10)
plt.title('Crashes Per Year', loc='Center', fontsize=14)
plt.show()

#Crashes per year, month, and date
plt.figure(figsize=(12,6))
plt.plot(np.unique(months), np.bincount(months)[1:])
plt.xlabel('Year', fontsize=10)
plt.ylabel('Count', fontsize=10)
plt.title('Crashes Per Month', loc='Center', fontsize=14)
plt.show()

#Crashes per year, month, and date
plt.figure(figsize=(12,6))
plt.plot(np.unique(days), np.bincount(days)[1:])
plt.xlabel('Year', fontsize=10)
plt.ylabel('Count', fontsize=10)
plt.title('Crashes Per Day of the Month', loc='Center', fontsize=14)
plt.show()

NameError: name 'plt' is not defined

In [5]:
print(months)
bin_count=np.bincount(months)
print(bin_count)

NameError: name 'months' is not defined